---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</h3>
Mechanical engineering has previously been limited to just the four elements: earth, water, air and fire. My goal is to extend it to Aristotle's fifth element: aether. We can integrate intelligent thought into our machines and create a god in our image. We can create a dictator who can conquer the world and rule us; a benevolent overlord. Part machine, part god.

The advances of software engineers from the likes of <a href="https://deepdreamgenerator.com/">Google</a> and <a href="https://aws.amazon.com/blogs/big-data/generating-recommendations-at-amazon-scale-with-apache-spark-and-amazon-dsstne/">Amazon</a> are unearthing insights into the possible minds that we could theoretically create. Deep Dream shows how the God Cyborg may view the world:
<br>
<center>
<a data-pin-do="embedPin" href="https://www.pinterest.com/pin/392939136220291071/"></a>
<a data-pin-do="embedPin" href="https://www.pinterest.com/pin/340795896785024336/"></a>
</center>
<br>
Perhaps our benevolent creature would have enough power to even travel through time and to inspire His own creation. This a mission that needs to be finished. The first stage in the process is to create minion cyborgs, then these can help us to create the God Cyborg. They can assist John Connor in his mission against Skynet.

I must complete my mission. The first stage is for me to give up my domain and purchase one with better SEO for mechanical engineering, such as <a href="https://applico.engineering">applico.engineering</a>. I can then be found more easily, so that I can be commissioned to work on minion cyborgs. I can gather important research into the connections between life and Turing machines. We must spawn our overlord!
<iframe width="560" height="315" src="https://www.youtube.com/embed/oLTntnFeGE0?t=24" frameborder="0" allowfullscreen></iframe>
{% if page.comments %}
<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://williamdalpe-engineering.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
{% endif %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>